.countdown {
  width: 100%;
  max-width: 829px;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
}
.countdown__values {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.countdown__item-wrap {
  display: flex;
  align-items: flex-start; /* keep separator top-aligned with number */
}

.countdown__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20vw;
}


.countdown__group {
  display: flex;
  align-items: center;
}

.countdown__number {
  font-size: 130px;
  font-weight: 700;
  line-height: 1;
  font-family: var(--font-inter-extra-bold);
}

.countdown__label {
  margin-top: 62px;
  font-size: 45px;
  font-family: var(--font-inter-extra-bold);
  font-weight: 600;
  line-height: 1;
}

.countdown__separator {
  font-size: 130px;
  font-family: var(--font-inter-extra-bold);
  font-weight: 600;
  line-height: 1;
  margin: 0 8px;
  align-self: flex-start;
}

.countdown__labels {
  display: flex;
  justify-content: center;
  margin-top: 32px;

}

/* .countdown__label {
  margin-top: 32px;
  font-size: 45px;
  font-weight: 600;
  line-height: 1;
} */

/* Tablet: 768px–1023px */
@media (max-width: 1024px) {
  .countdown__number {
    font-size: 64px;
    min-width: 120px;
  }

  .countdown__separator {
    font-size: 64px;
    margin: 0 6px;
  }

  .countdown__label {
    font-size: 28px;
  }

  .countdown__labels {
    margin-top: 24px;
  }
}

/* Mobile: 0–767px */
/* Mobile: 0–767px */
@media (max-width: 450px) {
  .countdown__number {
    font-size: clamp(40px, 5vw, 50px);
    min-width: 52px;
    font-weight: 900;
  }

  .countdown__separator {
    font-size: clamp(40px, 5vw, 50px);
    margin: 0 2px;
  }

  .countdown__label {
    font-size: clamp(20px, 5vw, 39px);
    margin-left: 5px;
    margin-top: 18px;
  }

  .countdown__labels {
    margin-top: 5px;
    padding: 0 2px;
  }
}
