@font-face {
  font-family: 'Slopdogz';
  src: url('../../public/fonts/Slopdogz_PERSONAL_USE_ONLY.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aerosoldier';
  src: url('../../public/fonts/Aerosoldier_PERSONAL_USE_ONLY.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Another Tag';
  src: url('../../public/fonts/aAnotherTag.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Plak';
  src: url('../../public/fonts/Neue Plak Extended Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Plak Regular';
  src: url('../../public/fonts/Neue Plak Extended Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Plak Black';
  src: url('../../public/fonts/NeuePlak-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DC Monument Extended';
  src: url('../../public/fonts/TITLE.OTF') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN A Love of Thunder';
  src: url('../../public/fonts/SVN-A-Love-Of-Thunder.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN A Love Of Thunder';
  src: url('../../public/fonts/SVN-A-Love-Of-Thunder.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('../../public/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Extra Bold';
  src: url('../../public/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Black';
  src: url('../../public/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Regular Italic';
  src: url('../../public/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
