@font-face {
  font-family: 'Slopdogz';
  src: url('../../otf/Slopdogz_PERSONAL_USE_ONLY.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aerosoldier';
  src: url('../../otf/Aerosoldier_PERSONAL_USE_ONLY.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Another Tag';
  src: url('../../otf/aAnotherTag.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Neue Plak';
  src: url('../../otf/NeuePlak-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Plak';
  src: url('../../otf/NeuePlak-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'DC Monument Extended';
  src: url('../../otf/TITLE.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

