.event-facebook {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 903px;
  margin: -180px auto 120px;
  padding: 0 24px;
  box-sizing: border-box;
}

.event-facebook__inner {
  width: 100%;
  margin: 0 auto;
  min-height: 500px;
  max-height : 720px;
  border-radius: 8px;
  overflow: hidden;
}

.event-facebook__embed {
  width: 100%;
  text-align: center;
}

.event-facebook__embed .fb-page,
.event-facebook__embed .fb_iframe_widget {
  display: inline-block !important;
  text-align: left;
  vertical-align: top;
}

.event-facebook__embed .fb-page > span,
.event-facebook__embed .fb_iframe_widget > span {
  display: inline-block !important;
  max-width: 100%;
  vertical-align: top;
}

.event-facebook__embed .fb-page iframe,
.event-facebook__embed .fb_iframe_widget iframe {
  display: block;
  max-width: 100%;
}

@media (max-width: 1023px) {
  .event-facebook {
    margin-top: -48px;
    margin-bottom: 80px;
    padding: 0 29px;
    max-width: 100%;
  }

  .event-facebook__inner {
    min-height: 437px;
  }
}

@media (max-width: 768px) {
  .event-facebook {
    margin-top: -28px;
    margin-bottom: 80px;
    padding: 0 29px;
  }

  .event-facebook__inner {
    min-height: 360px;
  }
}
