.event-new-post {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 443px;
  overflow: hidden;
}

.event-new-post__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

@media (max-width: 1023px) {
  .event-new-post {
    height: 280px;
  }
}

@media (max-width: 767px) {
  .event-new-post {
    height: 180px;
  }
}
