.event-new-post {
  position: relative;
  top: -80px;
  z-index: 2;
  width: 100%;
  overflow: visible;
}

.event-new-post__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center top;
}

@media (max-width: 1023px) {
  .event-new-post__image {
    max-height: 257px;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 767px) {
  .event-new-post__image {
    max-height: 58px;
    object-fit: contain;
  }
}
